<div class="menu-wrapper">
  <div class="hamburger-wrapper">
    <div class="hamburger-menu"></div>
  </div>
    <div class="menu-item">
      <a class="menu-item-link" routerLink="home"><span class="fa fa-home" id="home"></span></a>
      <a class="menu-item-link" routerLink="work"><span class="fa fa-suitcase" id="work"></span></a>
      <a class="menu-item-link" routerLink="profile"><span class="fa fa-user" id="profile"></span></a>
      <a class="menu-item-link" routerLink="skills"><span class="fa fa-code" id="skills"></span></a>
      <a class="menu-item-link" href="mailto:dev92r@gmail.com"><span class="fa fa-envelope" id="mail"></span></a>
    </div>
</div>
