<div class="menu-wrapper">
  <div class="hamburger-wrapper">
    <div class="hamburger-menu"></div>
  </div>
    <div class="menu-item">
      <a class="menu-item-link" href="#home"><span class="fa fa-home" id="home"></span></a>
      <a class="menu-item-link" href="#blog"><span class="fa fa-suitcase" id="work"></span></a>
      <a class="menu-item-link" href="#blog"><span class="fa fa-user" id="profile"></span></a>
      <a class="menu-item-link" href="#blog"><span class="fa fa-code" id="skills"></span></a>
      <a class="menu-item-link" href="#blog"><span class="fa fa-envelope" id="mail"></span></a>
    </div>
</div>
