
<div class="work">
        <h2 class="work-heading">Work</h2>
        <div class="work-row">
            <a class="work-row-title" href="https://mymemoriesoftravel.com/">Memories of Travel <span class="fa fa-arrow-right arrow"></span></a>
        </div>
        <div class="work-row">
            <a class="work-row-title" href="https://nifty-davinci-6447b3.netlify.app/">Coaching Platform <span class="fa fa-arrow-right arrow"></span></a>
        </div>
        <div class="work-row">
            <a class="work-row-title" href="https://dev92r.github.io/V1/">Personal Website V1 <span class="fa fa-arrow-right arrow"></span></a>
        </div>
        <div class="work-row">
            <a class="work-row-title" href="https://devanatha.com/">Personal Website V2 <span class="fa fa-arrow-right arrow"></span></a>
        </div>  
</div>
<div class="page" style="padding-top: 20px;">
    <div class="page-buttons">
        <a class="button" routerLink="/profile">View my profile</a>
    </div>
</div>













