<div class="page" id="top">
    <div class="page-content">
        <h2 class="page-content-heading">Skills</h2>
        <p class="page-content-text">I estimate for, architect, build, optimise and launch client-side solutions that users love.</p>
        <p class="page-content-text">Also I translate business requirements into technical solutions, create documentation and training manuals and educate clients on how to effectively utilize SharePoint services and products.</p>
        <p class="page-content-text">I'm equally happy interacting directly with clients - every project is different.</p>
        <p class="page-content-text">I've been doing web development for about 4 years now, and I'm always eager to learn more in this fast-paced industry.</p>
        <p class="page-content-text">Here is a some of technologies, I've worked with: </p>
    </div>
    <div class="skills">
        <div class="skills-set">
            <h3 class="skills-set-heading">Languages</h3>
            <p class="skills-set-text">HTML</p>
            <p class="skills-set-text">CSS/Sass</p>
            <p class="skills-set-text">JavaScript</p>
            <p class="skills-set-text">TypeScript</p>
            <p class="skills-set-text">PHP</p>
        </div>
        <div class="skills-set">
            <h3 class="skills-set-heading">Frameworks & Libs</h3>
            <p class="skills-set-text">jQuery</p>
            <p class="skills-set-text">AngularJS & Angular</p>
            <p class="skills-set-text">Bootstrap 5</p>
            <p class="skills-set-text">Node.js</p>
            <p class="skills-set-text">Express</p>
        </div>
        <div class="skills-set">
            <h3 class="skills-set-heading">Tools & Platforms</h3>
            <p class="skills-set-text">Microsoft SharePoint</p>
            <p class="skills-set-text">Git & Github</p>
            <p class="skills-set-text">Netlify</p>
            <p class="skills-set-text">Postman</p>
            <p class="skills-set-text">MongoDB</p>
        </div>
        <div class="skills-set">
            <h3 class="skills-set-heading">Design</h3>
            <p class="skills-set-text">Adobe Photoshop</p>
            <p class="skills-set-text">Adobe XD,</p>
            <p class="skills-set-text">Prototyping</p>
            <p class="skills-set-text">Wireframing</p>
            <p class="skills-set-text">Sketch</p>
        </div>
    </div>
    <div class="page-buttons">
        <a class="button" (click)="scrollTop()" routerLink="/work">Explore my work</a>
    </div>
</div>