<div class="page">
    <div class="page-content">
        <h2 class="page-content-heading">Profile</h2>
        <p class="page-content-text">I'm a Senior Front-end Developer at Danske IT.</p>
        <p class="page-content-text">My role spans Microsoft SharePoint website branding/enhancements and write modern, performant, maintainable code for a diverse array of client and internal projects.</p>
        <p class="page-content-text">While I spend most of my time with UIs, I also enjoy getting involved in design, back-end development and helping improve agile processes.</p>
        <p class="page-content-text">Browse some of my <a class="page-content-text-link" routerLink="/work">Work</a>, view my<a class="page-content-text-link" routerLink="/skills"> Skills</a>, or <a class="page-content-text-link" href="mailto:dev92r@gmail.com">Get in touch</a>.</p>
        <p class="page-content-text">When I'm not on the computer, I enjoy hiking, playing guitar and petting dogs.</p>
        <p class="page-content-text">You can also find me on <a class="page-content-text-link" href="https://github.com/dev92r/">Github</a>, <a class="page-content-text-link" href="https://www.linkedin.com/in/devanatha-r-b2b530182">LinkedIn</a>, <a class="page-content-text-link" href="https://codepen.io/dev92r">CodePen</a> and <a class="page-content-text-link" href="https://www.instagram.com/i_m_devd/">Instagram</a>.</p>
    </div>
    <div class="page-buttons">
        <a class="button" (click)="scrollTop()" routerLink="/skills">Explore my skills</a>
    </div>
</div>